<table>
  <thead>
    <tr>
      <th>IP</th>
      <th>Access</th>
      <th>Allowed</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.entry_ip %></td>
        <td><%= entry.entry_counter %></td>
        <td><%= !(entry.banned) %></td>
      </tr>
    <% end %>
  </tbody>
</table>